[Desktop Entry]
Name=Stone
X-KDE-PluginInfo-Name=Stone
X-KDE-PluginInfo-Author=Dharam Dhurandhar
X-KDE-PluginInfo-Email=rkstrdee@gmail.com
X-KDE-PluginInfo-License=GPLv3
